SOA_SSDI/xsd/SOA_SSDI_BPEL.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SSDI_Demo/SOA_SSDI/SOA_SSDI_BPEL"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="StockID" type="decimal"/>
                                <element name="StartDate" type="int"/>
                                <element name="EndDate" type="int"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="double"/>
			</sequence>
		</complexType>
	</element>
</schema>